@import "singularitygs";
@import "breakpoint";
@import "compass";

@include sgs-change('output', 'float');
@include sgs-change('mobile first', false);
@include sgs-change('clearfix', true);

$breakpoint-default-feature: "max-width";

// Homepage

main {
  @include add-grid(12);
  @include add-gutter(1/3);
}

div.home-intro-call-to-action-container {
  padding: 0 4%;
  margin-top: 2.5%;
  @include clearfix;
  .home-intro {
    @include grid-span(6, 1, 12, 1.5);
  }
  .home-call-to-action-text {
    @include grid-span(6, 7, 12, 1.5);
  }
}

div.home-featured-articles-container {
  padding: 0 4%;
  @include clearfix;
  article:nth-of-type(1), article:nth-of-type(3) {
    @include grid-span(6, 1);
  }
  article:nth-of-type(2), article:nth-of-type(4) {
    @include grid-span(6, 7);
  }
}

div.join-page-content-container {
  @include clearfix;
  position: relative;
  background-color: rgb(240, 239, 238);
  .join-testimonials-sidebar {
    float: left;
    width: 592px;
  }
  .join-form-container {
    position: absolute;
    left: 592px;
    right: 0;
  }
}

footer .footer-container {
  padding-left: 2%;
  box-sizing: content-box;
  .footer-twitter-column {
    @include grid-span(4, 1);
  }
  .footer-join-email-list-column {
    @include grid-span(4, 5);
  }
  .footer-contact-column {
    @include grid-span(4, 9);
  }
}