.join-page-content {
  .join-testimonials-sidebar {
    padding-right: 5%;
    padding-left: 5%;
    font-size: 1.75em;
    line-height: 1.7em;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 33px;
    p:first-of-type {
      margin-bottom: 2%;
    }
    .join-testimonials {
      padding-left: 31px;
      font-size: 0.72em;
      font-style: italic;
      line-height: 2.2em;
      margin-top: 2%;
      p {
        margin-bottom: 2%;
      }
      span.join-testimonials-signature {
        padding-right: 38px;
        font-size: 1.1em;
        line-height: 1.6em;
        font-style: none;
        font-weight: 700;
        display: block;
        text-align: right;
      }
    }
  }
}

.join-form-container {
  padding-left: 51px;
  padding-top: 37px;
  background-color: $site-background-offwhite;
}

// Mobile Intro

div.join-intro {
  padding-right: 37px;
  padding-left: 47px;
  font-size: 28px;
  line-height: 1.7em;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 33px;
}