// Dropdown Nav - Take Action Page

body.page-template-take-action {
  @media only screen and (max-width:1173px) {
  div.mobile-take-action-nav-container {
    display: block;
    div.mobile-take-action-nav {
        margin-top: 5%;
        margin-bottom: 1%;
        float: left;
      }
      @media only screen and (max-width:735px) {
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        float: none;
      }
      @media only screen and (max-width:686px) {
        div.down-arrow {
          margin: 3% 4% 0 4%;
        }
      }
      @media only screen and (max-width:650px) {
        div.down-arrow {
          margin: 3% 4% 0 4%;
        }
      }
      @media only screen and (max-width:426px) {
        width: 95%;
      }
      @media only screen and (max-width:400px) {
        div#current-page {
          padding: 4% 17% 4% 4%;
        }
        ul li {
          padding: 4%;
        }
      }
      @media only screen and (max-width:380px) {
        font-size: 0.9em;
        width: 95%;
        div.down-arrow {
        }
      }
    }
  }
}

// Dropdown Nav - Advocacy main and archive pages

body.page-template-advocacy, body.tax-advocacy-categories, body.search.post-type-archive-advocacy-items {
  div.mobile-take-action-nav-container {
    @media only screen and (max-width:1173px) {
      display: block;
    }
    @media only screen and (max-width:330px) {
      div#current-page {
        font-size: 1.06em;
      }
    }
  }
  div.mobile-content-nav {
    @media only screen and (max-width:1173px) {
      margin-top: 4%;
      margin-bottom: 1%;
      float: left;
      display: block;
    }
    @media only screen and (max-width:545px) {
      margin: 8% auto 1% auto;
      float: none;
    }
    @media only screen and (max-width:370px) {
      width: 100%;
    }
    @media only screen and (max-width:346px) {
      div#current-page {
        font-size: 0.93em;
      }
    }
  }
}

// Dropdown Nav - Advocacy single post pages

body.single-advocacy-items {
  div.mobile-take-action-nav-container {
    @media only screen and (max-width:1125px) {
      display: block;
    }
    @media only screen and (max-width:518px) {
      div.mobile-take-action-nav {
        width: 100%;
        @media only screen and (max-width:330px) {
          div#current-page {
            font-size: 1.06em;
          }
        }
      }
    }
  }
  div.mobile-content-nav {
    @media only screen and (max-width:1125px) {
      margin-top: 4%;
      margin-bottom: 1%;
      float: left;
      display: block;
    }
    @media only screen and (max-width:545px) {
      margin: 8% auto 1% auto;
      float: none;
    }
    @media only screen and (max-width:370px) {
      width: 100%;
    }
    @media only screen and (max-width:346px) {
      div#current-page {
        font-size: 0.93em;
      }
    }
  }
}

// Dropdown Nav - News main page

body.page-template-news, body.tax-news-categories, body.search.post-type-archive-news-items, body.single-news-items {
  div.mobile-take-action-nav-container {
    @media only screen and (max-width:1149px) {
      display: block;
    }
    @media only screen and (max-width:330px) {
      div#current-page {
        font-size: 1.06em;
      }
    }
  }
  div.mobile-content-nav {
    @media only screen and (max-width:1149px) {
      margin-top: 4%;
      margin-bottom: 1%;
      float: left;
      display: block;
    }
    @media only screen and (max-width:545px) {
      margin: 8% auto 1% auto;
      float: none;
    }
    @media only screen and (max-width:370px) {
      width: 100%;
    }
    @media only screen and (max-width:346px) {
      div#current-page {
        font-size: 0.93em;
      }
    }
  }
}

// Dropdown Nav - News single post pages

body.single-news-items {
  div.mobile-take-action-nav-container {
    @media only screen and (max-width:1149px) {
      display: block;
    }
  }
  div.mobile-content-nav {
    @media only screen and (max-width:1149px) {
      margin-top: 5%;
      margin-bottom: 1%;
      float: left;
      display: block;
    }
    @media only screen and (max-width:545px) {
      margin: 8% auto 1% auto;
      float: none;
    }
    @media only screen and (max-width:370px) {
      width: 100%;
    }
    @media only screen and (max-width:346px) {
      div#current-page {
        font-size: 0.93em;
      }
    }
  }
}

// Dropdown Nav - About Page

body.page-template-about-advocacy-news {
  div.mobile-take-action-nav-container {
    @media only screen and (max-width:1290px) {
      display: block;
      margin-top: 5%;
      h1 {
        text-align: left;
      }
    }
  }
  div.mobile-content-nav {
    @media only screen and (max-width:1290px) {
      margin-top: 5%;
      margin-bottom: 1%;
      float: left;
      display: block;
    }
    @media only screen and (max-width:545px) {
      margin: 8% auto 1% auto;
      float: none;
    }
    @media only screen and (max-width:370px) {
      width: 100%;
    }
  }
}

// Take Action Button

div.mobile-take-action-button {
  @media only screen and (max-width:910px) {
    a {
      font-size: 1.25em;
    }
  }
}

// Sidebar search form

div.mobile-search-form {
  @media only screen and (max-width:1149px) {
    float: left;
    margin-left: 35px;
    margin-top: 36px;
    form {
      input {
        height: 48px;
        margin-top: 5px;
        font-size: 1.5em;
      }
    }
  }
}

// Dropdown Nav - Members main and archive pages

body.page-template-members, body.tax-member-categories, body.post-type-archive-member-items {
  div.mobile-take-action-nav-container {
    @media only screen and (max-width:1068px) {
      display: block;
      margin-top: 130px;
    }
    @media only screen and (max-width:330px) {
      div#current-page {
        font-size: 1.06em;
      }
    }
  }
  div.mobile-content-nav {
    @media only screen and (max-width:1068px) {
      margin-top: 4%;
      margin-bottom: 1%;
      float: left;
      display: block;
    }
    @media only screen and (max-width:545px) {
      margin: 8% auto 1% auto;
      float: none;
    }
    @media only screen and (max-width:370px) {
      width: 100%;
    }
    @media only screen and (max-width:346px) {
      div#current-page {
        font-size: 0.93em;
      }
    }
  }
}

// Dropdown Nav - Members single post pages

body.single-member-items {
  div.mobile-take-action-nav-container {
    @media only screen and (max-width:1178px) {
      display: block;
      margin-top: 130px;
    }
    @media only screen and (max-width:330px) {
      div#current-page {
        font-size: 1.06em;
      }
    }
  }
  div.mobile-content-nav {
    @media only screen and (max-width:1178px) {
      margin-top: 4%;
      margin-bottom: 1%;
      float: left;
      display: block;
    }
    @media only screen and (max-width:545px) {
      margin: 8% auto 1% auto;
      float: none;
    }
    @media only screen and (max-width:370px) {
      width: 100%;
    }
    @media only screen and (max-width:346px) {
      div#current-page {
        font-size: 0.93em;
      }
    }
  }
}

// General Take Action Nav Rules

div.mobile-take-action-nav-container {
  div.mobile-take-action-nav {
    @media only screen and (max-width:572px) {
      span.down-arrow {
        padding: 6.5% 0;
      }
    }
  }
}