// Dropdown Nav - Advocacy Pages

body.page-template-about-advocacy-news, body.page-template-advocacy, body.tax-advocacy-categories, body.search-results.post-type-archive-advocacy-items, body.single-advocacy-items {
  div.mobile-content-nav, div.mobile-take-action-button { //div.mobile-search-form { // Uncomment when ready to use
    // @media only screen and (max-width:1149px) {
    //   display: block;
    // }
  }
}


// Dropdown Nav - Take Action Page

body.page-template-take-action {
  @media only screen and (max-width:1173px) {
  div.mobile-take-action-nav-container {
    display: block;
    div.mobile-take-action-nav {
        margin-top: 5%;
        margin-bottom: 1%;
        float: left;
      }
      @media only screen and (max-width:735px) {
        margin-top: 5%;
        //margin-bottom: 3%;
        //width: 375px;
        margin-left: auto;
        margin-right: auto;
        float: none;
        // div#current-page {
        //   padding-left: 14%;
        // }
      }
      @media only screen and (max-width:686px) {
        div.down-arrow {
          margin: 3% 4% 0 4%;
        }
      }
      @media only screen and (max-width:650px) {
        div.down-arrow {
          margin: 3% 4% 0 4%;
        }
      }
      @media only screen and (max-width:426px) {
        width: 95%;
      }
      @media only screen and (max-width:400px) {
        div#current-page {
          padding: 4% 17% 4% 4%;
        }
        ul li {
          padding: 4%;
        }
      }
      @media only screen and (max-width:380px) {
        font-size: 0.9em;
        width: 95%;
        div.down-arrow {
          //margin-top: 14px;
          //font-size: 18px;
        }
      }
    }
  }
}

// Dropdown Nav - Advocacy Main / Archive Pages

body.page-template-advocacy, body.tax-advocacy-categories, body.search.post-type-archive-advocacy-items {
  div.mobile-take-action-nav-container {
    @media only screen and (max-width:1173px) {
      display: block;
    }
    @media only screen and (max-width:330px) {
      div#current-page {
        font-size: 1.06em;
      }
    }
  }
  div.mobile-content-nav {
    @media only screen and (max-width:1173px) {
      margin-top: 4%;
      margin-bottom: 1%;
      float: left;
      display: block;
    }
    @media only screen and (max-width:545px) {
      margin: 8% auto 1% auto;
      float: none;
    }
    @media only screen and (max-width:370px) {
      width: 100%;
    }
    @media only screen and (max-width:346px) {
      div#current-page {
        font-size: 0.93em;
      }
    }
  }
}

// Dropdown Nav - Advocacy Single

body.single-advocacy-items {
  div.mobile-take-action-nav-container {
    @media only screen and (max-width:1125px) {
      display: block;
    }
    @media only screen and (max-width:518px) {
      div.mobile-take-action-nav {
        width: 100%;
        @media only screen and (max-width:330px) {
          div#current-page {
            font-size: 1.06em;
          }
        }
      }
    }
  }
  div.mobile-content-nav {
    @media only screen and (max-width:1125px) {
      margin-top: 4%;
      margin-bottom: 1%;
      float: left;
      display: block;
    }
    @media only screen and (max-width:545px) {
      margin: 8% auto 1% auto;
      float: none;
    }
    @media only screen and (max-width:370px) {
      width: 100%;
    }
    @media only screen and (max-width:346px) {
      div#current-page {
        font-size: 0.93em;
      }
    }
  }
}

// Dropdown Nav - News Pages

body.page-template-news, body.tax-news-categories, body.search.post-type-archive-news-items, body.single-news-items {
  div.mobile-take-action-nav-container {
    @media only screen and (max-width:1149px) {
      display: block;
    }
    @media only screen and (max-width:330px) {
      div#current-page {
        font-size: 1.06em;
      }
    }
  }
  div.mobile-content-nav {
    @media only screen and (max-width:1149px) {
      margin-top: 4%;
      margin-bottom: 1%;
      float: left;
      display: block;
    }
    @media only screen and (max-width:545px) {
      margin: 8% auto 1% auto;
      float: none;
    }
    @media only screen and (max-width:370px) {
      width: 100%;
    }
    @media only screen and (max-width:346px) {
      div#current-page {
        font-size: 0.93em;
      }
    }
  }
}

//     @media only screen and (max-width:1149px) {
//       display: block;
//       float: right;
//       background-color: #26965B;
//       font-size: 1.4375em;
//       text-align: center;
//       width: 30%;
//       margin-bottom: 1%;
//       height: 58px;
//       margin-top: 4%;
//       padding-top: 1px;
//       padding-left: 17px;
//       a {
//         color: #fff;
//         font-size: 1.3em;
//         display: inline-block;
//         padding-top: 0px;
//         span {
//           margin-left: 10px;
//           font-size: 40px;
//           display: inline-block;
//         }
//       }
//     }
//     @media only screen and (max-width:910px) {
//       a {
//         font-size: 1.25em;
//       }
//     }
//     @media only screen and (max-width:817px) {
//       padding-left: 9px;
//       a {
//         font-size: 1.22em;
//       }
//     }
//     @media only screen and (max-width:723px) {
//       padding-left: 7px;
//       a {
//         font-size: 1.15em;
//       }
//     }
//     @media only screen and (max-width:700px) {
//       padding-top: 0;
//       a {
//         font-size: 1.05em;
//       }
//     }
//     @media only screen and (max-width:600px) {
//       float: none;
//       font-size: 1.595em;
//       width: 375px;
//       margin: 0 auto;
//       padding-top: 12px;
//       a {
//         span {
//           display: none;
//         }
//       }
//     }
//     @media only screen and (max-width:426px) {
//       width: 95%;
//     }
//   }

//   div.mobile-content-nav {
//     @media only screen and (max-width:1149px) {
//       margin-top: 4%;
//       margin-bottom: 1%;
//       float: left;
//       display: block;
//     }
//     @media only screen and (max-width:600px) {
//       margin-top: 5%;
//       margin-bottom: 3%;
//       width: 375px;
//       margin-left: auto;
//       margin-right: auto;
//       float: none;
//       div#current-page {
//         padding-left: 14%;
//       }
//     }
//     @media only screen and (max-width:426px) {
//       width: 95%;
//     }
//   }
// }

//News Single

body.single-news-items {
  div.mobile-take-action-nav-container {
    @media only screen and (max-width:1149px) {
      display: block;
    }
  }
  div.mobile-content-nav {
    @media only screen and (max-width:1149px) {
      margin-top: 5%;
      margin-bottom: 1%;
      float: left;
      display: block;
    }
    @media only screen and (max-width:545px) {
      margin: 8% auto 1% auto;
      float: none;
    }
    @media only screen and (max-width:370px) {
      width: 100%;
    }
    @media only screen and (max-width:346px) {
      div#current-page {
        font-size: 0.93em;
      }
    }
  }
}

// Dropdown Nav - About Page

body.page-template-about-advocacy-news {
  div.mobile-take-action-nav-container {
    @media only screen and (max-width:1290px) {
      display: block;
      margin-top: 5%;
      h1 {
        text-align: left;
      }
    }
  }
  div.mobile-content-nav {
    @media only screen and (max-width:1290px) {
      margin-top: 5%;
      margin-bottom: 1%;
      float: left;
      display: block;
    }
    @media only screen and (max-width:545px) {
      margin: 8% auto 1% auto;
      float: none;
    }
    @media only screen and (max-width:370px) {
      width: 100%;
    }
  }
}
//   div.about-page-content-container div.about-content div.mobile-take-action-button {
//     @media only screen and (max-width:1290px) {
//       display: block;
//       float: left;
//       margin-left: 359px;
//       background-color: #26965B;
//       font-size: 1.4375em;
//       text-align: center;
//       width: 30%;
//       margin-bottom: 1%;
//       height: 58px;
//       margin-top: 4%;
//       padding-top: 1px;
//       padding-left: 17px;
//       a {
//         color: #fff;
//         font-size: 1.25em;
//         display: inline-block;
//         padding-top: 0px;
//         span {
//           margin-left: 10px;
//           font-size: 40px;
//           display: inline-block;
//         }
//       }
//     }
//     // @media only screen and (max-width:780px) {
//     //   a {
//     //     font-size: 1.25em;
//     //   }
//     // }
//     @media only screen and (max-width:1230px) {
//       margin-left: 140px
//     }
//     @media only screen and (max-width:992px) {
//       float: right;
//       margin-left: 0;
//       padding-left: 9px;
//       a {
//         font-size: 1.22em;
//       }
//     }
//     @media only screen and (max-width:750px) {
//       padding-left: 7px;
//       a {
//         font-size: 1.19em;
//       }
//     }
//     @media only screen and (max-width:735px) {
//       float: none;
//       font-size: 1.595em;
//       width: 375px;
//       margin: 0 auto;
//       padding-top: 12px;
//       a {
//         span {
//           display: none;
//         }
//       }
//     }
//     @media only screen and (max-width:426px) {
//       width: 95%;
//     }
//   }
//   div.mobile-content-nav {
//     @media only screen and (max-width:1290px) {
//       margin-top: 4%;
//       margin-bottom: 1%;
//       float: left;
//       display: block;
//     }
//     @media only screen and (max-width:735px) {
//       margin-top: 5%;
//       margin-bottom: 3%;
//       width: 375px;
//       margin-left: auto;
//       margin-right: auto;
//       float: none;
//       div#current-page {
//         padding-left: 14%;
//       }
//     }
//     @media only screen and (max-width:426px) {
//       width: 95%;
//     }
//     @media only screen and (max-width:400px) {
//       div.down-arrow {
//         margin-top: 13px;
//         font-size: 20px;
//       }
//     }
//     @media only screen and (max-width:380px) {
//       font-size: 1.4em;
//       div.down-arrow {
//         margin-top: 14px;
//         font-size: 18px;
//       }
//     }
//   }
// }

// Take Action Button

div.mobile-take-action-button {
  @media only screen and (max-width:910px) {
    a {
      font-size: 1.25em;
    }
  }
}

// Search Form

div.mobile-search-form {
  @media only screen and (max-width:1149px) {
    float: left;
    margin-left: 35px;
    margin-top: 36px;
    form {
      input {
        height: 48px;
        margin-top: 5px;
        font-size: 1.5em;
      }
    }
  }
}

// Dropdown Nav - Members Main / Archive Pages

body.page-template-members, body.tax-member-categories, body.post-type-archive-member-items {
  div.mobile-take-action-nav-container {
    @media only screen and (max-width:1068px) {
      display: block;
      margin-top: 130px;
    }
    @media only screen and (max-width:330px) {
      div#current-page {
        font-size: 1.06em;
      }
    }
  }
  div.mobile-content-nav {
    @media only screen and (max-width:1068px) {
      margin-top: 4%;
      margin-bottom: 1%;
      float: left;
      display: block;
    }
    @media only screen and (max-width:545px) {
      margin: 8% auto 1% auto;
      float: none;
    }
    @media only screen and (max-width:370px) {
      width: 100%;
    }
    @media only screen and (max-width:346px) {
      div#current-page {
        font-size: 0.93em;
      }
    }
  }
}

// Dropdown Nav - Members Single

body.single-member-items {
  div.mobile-take-action-nav-container {
    @media only screen and (max-width:1178px) {
      display: block;
      margin-top: 130px;
    }
    @media only screen and (max-width:330px) {
      div#current-page {
        font-size: 1.06em;
      }
    }
  }
  div.mobile-content-nav {
    @media only screen and (max-width:1178px) {
      margin-top: 4%;
      margin-bottom: 1%;
      float: left;
      display: block;
    }
    @media only screen and (max-width:545px) {
      margin: 8% auto 1% auto;
      float: none;
    }
    @media only screen and (max-width:370px) {
      width: 100%;
    }
    @media only screen and (max-width:346px) {
      div#current-page {
        font-size: 0.93em;
      }
    }
  }
}

// General Take Action Nav Rules

div.mobile-take-action-nav-container {
  div.mobile-take-action-nav {
    @media only screen and (max-width:572px) {
      span.down-arrow {
        padding: 6.5% 0;
      }
    }
  }
}